<div class="text">
  <% if notice == true then %>
    Obrigado por colaborar! Os eventos que você nos enviou estarão disponíveis nos próximos minutos.
  <% else %>
    Seja um colaborador! Logue-se com o Facebook e pronto!
    <br/>
    <br/>
    <%= link_to '/auth/facebook' do %>
      <span class="icon-facebook2"></span>
    <% end %>
  <% end %>
</div>