<script>
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    if (response.status === 'connected') {
      greet();
    } else if (response.status === 'not_authorized') {
      document.getElementById('status').innerHTML = 'Por favor, aperte no ' +
      'ícone do Facebook.';
    } else {
      document.getElementById('status').innerHTML = 'Por favor, ' +
        'entre no Facebook.';
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '905352746209791',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.5' // use graph api version 2.5
    });

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function greet() {
    console.log('Olá! Estamos buscando sua informação....');
    FB.api('/me', function(response) {
      console.log('Login de: ' + response.name);
      document.getElementById('facebook-logo').className = 'hide';
      document.getElementById('status').innerHTML =
        'Obrigado por contribuir, ' + response.name + '!';
    });
  }
</script>


<div id="facebook-login">
  <%= image_tag "facebook-logo.png", {id: "facebook-logo", onlogin: "checkLoginState();", height: 40} %>
  <div id="status">
  </div>
</div>