<div id="facebook-login">
  <% if notice == true then %>
    Obrigado por colaborar! Os eventos que você nos enviou estarão disponíveis nos próximos minutos.
  <% else %>
    <%= link_to "Colaborar utilizando o facebook", "/auth/facebook", id: "sign-in" %>
  <% end %>
</div>