<% @events.each do |e| %>
  <div class="event">
    <div class="ename"><%= e.name %></div>
    <div class="einfobutton"><%= link_to "info", event_path(e.id) %></div>
    <div class="eplacetime"><%= e.place_name + " - " + e.start_time.strftime("%Hh") %></div>
  </div>
<% end %>
