<% @events.each do |e| %>
  <div class="event">
    <div class="ename"><%= link_to e.name, event_path(e.id) %></div>
    <div class="eplacetime"><%= e.place_name + " - " + e.start_time.strftime("%Hh") %></div>
  </div>
<% end %>
