/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* BEGIN ICONS */
@font-face {
    font-family: 'icomoon';
    src:    font-url('icomoon.eot');
    src:    font-url('icomoon.eot#iefix') format('embedded-opentype'),
        font-url('icomoon.ttf') format('truetype'),
        font-url('icomoon.woff') format('woff'),
        font-url('icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
    content: "\e900";
}
.icon-man:before {
    content: "\e901";
}
.icon-plus:before {
    content: "\e902";
}
.icon-facebook2:before {
    content: "\e903";
}
/* END ICONS */


$font-default: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-text-biggest: 25px;
$font-size-text-big: 20px;
$font-size-text: 17px;
$font-size-text-small: 14px;
$font-size-text-smallest: 12px;

$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #777;
$gray-lighter: #eee;
$white: #fff;

$background-color: $white;
$distance-from-logo: 1.4em;

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#logo {
  text-align: center;
}

#facebook-login {
  text-align: center;
  text-transform: lowercase;
  font-family: $font-default;
  margin-top: $distance-from-logo;
}

#facebook-logo {
  cursor: pointer;
}

ul {
  list-style: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
}

#nav {
  width: 100%;
  margin: auto;
  text-align: right;
  li {
    margin-left: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -1px;
    text-transform: lowercase;
    display: inline-block;
    a {
      text-decoration: none;
      color: $gray-darker;
      border-bottom: 2px solid transparent;
      transition: all 0.1s linear;
    }
    a.active {
      border-bottom: 2px solid $gray-darker;
    }
    a:hover {
      border-bottom: 2px solid $gray-darker;
    }
  }
  li:first-child {
    margin-left: 0px;
  }

  li:last-child {
    margin-right: 4px;
  }
}

#li-go-back {
  float: left;
  padding-left: 4px;
  a {
    display: none;
  }
  a.show {
    display: inline-block;
  }
}

.hide {
  display: none;
}

body {
  font-family: $font-default;
  background-color: $background-color;
}

#events {
  width: 100%;
  margin: auto;
}

.event {
  line-height: 28px;
  border-bottom: 1px solid $gray-light;
}

.event:last-child {
  line-height: 28px;
  border-bottom: none;
}

.ename {
  font-size: $font-size-text-big;
  font-weight: 200;
  letter-spacing: -1px;
  margin-top: 0.7em;
  display: inline-block;
}

.eplacetime {
  font-size: $font-size-text-small;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: lowercase;
  color: $gray-light;
  margin-left: 2px;
  margin-bottom: 0.7em;
}

.section {
  border-bottom: 1px solid $gray-lighter;
  border-top: 1px solid $gray-lighter;
  margin-bottom: 0.7em;
}

.eaddress {
  font-size: $font-size-text-small;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: lowercase;
  color: $gray-light;
  display: inline-block;
  .icon {
    font-size: 16px;
    margin-right: 2px;
  }
}

.eattending {
  @extend .eaddress;
  float: right;
}

.einfobutton {
  font-size: $font-size-text-smallest;
  font-weight: 200;
  margin-top: 15px;
  letter-spacing: 1px;
  float: right;
  a {
    text-decoration: none;
    color: $gray-dark;
    border-bottom: 1px solid $gray-dark;
  }
  a:hover {
    border-bottom: none;
  }
}

.edescription {
  font-family: $font-default;
  font-size: $font-size-text-smallest;
  color: $gray-light;
  letter-spacing: 1px;
  font-weight: 200;
  text-align: justify;
  word-wrap: break-word;
  line-height: 23px;
}

.eimage {
  width: 100%;
  margin-bottom: 0.7em;
}

@media(min-width: 451px) {
  #events {
    width: 440px;
  }
}

@media(min-width: 375px) {
  #nav {
    li {
      margin-left: 20px;
      font-size: 20px;
    }
  }
  .ename {
    font-size: $font-size-text-biggest;
  }

  .eplacetime {
    font-size: $font-size-text;
  }

  .eaddress {
    font-size: $font-size-text;
  }

  .edescription {
    font-size: $font-size-text-small;
  }

  .einfobutton {
    font-size: $font-size-text-small;
    margin-top: 18px;
  }
}