// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-default: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$color-wine: #8f2c2c;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #656565;
$background-color: $color-white;
$bottom-distance-from-logo: 0.7em;

#logo {
  text-align: center;
  margin-top: 20px;
}

#facebook-login {
  text-align: center;
  text-transform: lowercase;
  font-size: 25px;
  font-family: $font-default;
  font-weight: 400;
  margin-top: $bottom-distance-from-logo;
  color: $color-black;
}

#facebook-logo {
  cursor: pointer;
}

ul {
  list-style: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
}

#nav {
  width: 100%;
  margin: auto;
  text-align: right;
  li {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: lowercase;
    display: inline-block;
    a {
      text-decoration: none;
      color: $color-black;
      border-bottom: 2px solid transparent;
      transition: all 0.1s linear;
    }
    a.active {
      border-bottom: 2px solid $color-black;
    }
    a:hover {
      border-bottom: 2px solid $color-black;
    }
  }
  li:first-child {
    margin-left: 0px;
  }
}

#li-go-back {
  float: left;
  a {
    display: none;
  }
  a.show {
    display: inline-block;
  }
}

.hide {
  display: none;
}

body {
  font-family: $font-default;
  background-color: $background-color;
}

#events {
  width: 100%;
  margin: auto;
}

.event {
  line-height: 28px;
  border-bottom: 1px solid $color-grey;
}

.event:last-child {
  line-height: 28px;
  border-bottom: none;
}

.ename {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  text-transform: lowercase;
  margin-top: 0.7em;
  display: inline-block;
}

.esummary {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1.0px;
  text-transform: lowercase;
  color: #656565;
  margin-left: 2px;
  margin-bottom: 0.7em;
}

.einfo {
  font-size: 12px;
  font-weight: 200;
  margin-top: 15px;
  letter-spacing: 1px;
  float: right;
  a {
    text-decoration: none;
    color: $color-grey;
    border-bottom: 1px solid $color-grey;
  }
  a:hover {
    border-bottom: none;
  }
}

.edescription {
  @extend .esummary;
  text-align: justify;
}

@media(min-width: 451px) {
  #events {
    width: 440px;
  }
}

@media(min-width: 375px) {
  .ename {
    font-size: 25px;
  }

  .esummary {
    font-size: 17px;
  }

  .einfo {
    font-size: 14px;
    margin-top: 18px;
  }
}

