// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo-backward {
  display: inline-block;
  -moz-transform: scale(-1, 1); 
  -webkit-transform: scale(-1, 1);  
  transform: scale(-1, 1);
}

.logo {
  margin: 10px auto 0px;
  display: table;
  width: 100%;
  h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 80px;
    color: #000000;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 5px 5px 10px 7px;
    letter-spacing: -2px;

    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
}

ul {
  list-style: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
}

#nav {
  width: 100%;
  margin: auto;
  text-align: right;
}

.nav-item {
  margin-left: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: lowercase;
  display: inline-block;
  a {
    text-decoration: none;
    color: #000000;
    border-bottom: 2px solid #000000;
  }
}

.nav-item:first-child {
  margin-left: 0px;
}

body {
  background-color: #ffffff;
}

.container {
  width: 100%;
  margin: auto;
}

.events {
  width: 100%;
  margin: auto;
}

.event {
  line-height: 28px;
  border-bottom: 1px solid #656565;
}

.event:last-child {
  line-height: 28px;
  border-bottom: none;
}

.ename {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  text-transform: lowercase;
  margin-top: 0.7em;
  display: inline-block;
}

.esummary {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1.0px;
  text-transform: lowercase;
  color: #656565;
  margin-left: 2px;
  margin-bottom: 0.7em;
}

.einfo {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 200;
  margin-top: 15px;
  letter-spacing: 1px;
  float: right;
  a {
    text-decoration: none;
    //color: #8F2C2C;
    //border-bottom: 1px solid #8F2C2C;
    color: #656565;
    border-bottom: 1px solid #656565;
  }
  a:hover {
    border-bottom: 1px solid #ffffff;
  }
}

@media(min-width: 451px) {
  .container {
    width: 440px;
  }

  .events {
    width: 440px;
  }
}

@media(min-width: 375px) {
  .ename {
    font-size: 25px;
  }

  .esummary {
    font-size: 17px;
  }

  .einfo {
    font-size: 14px;
    margin-top: 18px;
  }
}

